.footer_wrapper
    section.contact
        h3 Contact
        hr.seperator.white
        p Advanced Electrical Services, Inc.
            br
            | 17 Meredith Ln, 
            br
            | New Milford, CT 06776
            br
            a(href="tel:860-354-9260") (860) 354-9260
            br
            | License: E-1#104870
    section.social
        h3 Connect
        hr.seperator.white
        a(href="https://www.facebook.com/advancedelectricalservicesinc/").btn.facebook
            strong Facebook
    section.payment
        h3 Payment Options
        hr.seperator.white
        ul
            li
                i.fa.fa-cc-amex
            li
                i.fa.fa-cc-mastercard
            li
                i.fa.fa-cc-visa
            li
                i.fa.fa-cc-discover
            li
                i.fa.fa-cc-paypal
        p * Most major credit cards accepted.
        p * Free estimates available.

.footer_bottom_wrapper
    img(src="assets/img/footer_logo.png")
    small &copy; Copyright 2017 Advanced Electrical Services, Inc. All Rights Reserved.