nav.sticky
    a(href='#top')#logo
        img(src='assets/img/logo.png', alt='logo')
    button(type="button").hamburger.hamburger--collapse#toggle
        span.hamburger-box
            span.hamburger-inner
    ul#nav
        li
            a(href='#top').hvr-grow.nav-link Home
        li
            a(href='#services').hvr-grow.nav-link Services
        li
            a(href='#about').hvr-grow.nav-link About Us
        li
            a(href='#team').hvr-grow.nav-link Meet the Team
        li
            a(href='#gallery').hvr-grow.nav-link Gallery
        li
            a(href='#testimonals').hvr-grow.nav-link Testimonials
        li
            a(href='#contact').hvr-grow.nav-link Contact Us