script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
script(src="//npmcdn.com/isotope-layout@3/dist/isotope.pkgd.js")
script(src="https://imagesloaded.desandro.com/imagesloaded.pkgd.js")
script(src="assets/js/functions.js")